<?xml version="1.0"?>
<config>
    <database>
        <database_host>localhost</database_host>
        <database_port>3306</database_port>
        <database_name>deezer-api</database_name>
        <database_user>root</database_user>
        <database_password>root</database_password>
    </database>
</config>